@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,500&family=Roboto:wght@100;400;500;700&family=Vazirmatn:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-color: #181818;
  --font-color: #FAF8FF;
  --standard-color: #b3fabd;
  --premium-color: #8685EF;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: 'vazirmatn';
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--base-color);
  color: var(--font-color);
  user-select: none;
  line-height: 2rem;
}

h3 {
  color: #d43f21;
  font-size: 2rem;
  padding: 1rem;
  font-weight: bold;
}

.welcome {
  color: #fdfd5e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
  margin-right: 50%;
  width: 90px;
  height: 80px;
  object-fit: cover;
  border-radius: 15px;
}

.burger {
  width: 100%;
}

.burger ol li span {
  font-size: 20px;
  color: var(--premium-color);
  font-weight: bold;
}

header {
  width: 100%;
}

ol li {
  list-style-type: none;
  border-bottom: 1px solid var(--standard-color);
  padding-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}

ol li p {
  font-weight: 300;
  font-size: 13px;
}

.Drinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.drink {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--standard-color);
  border-radius: 15px;
  padding: 5px;
  box-shadow: -1px -1px 5px #FAF8FF;
  margin-bottom: 1rem;
}

.price {
  display: inline-block;
  padding-left: 50px;
  margin-right: 1rem;
  background-color: var(--premium-color);
  width: 35px;
  height: 35px;
  padding: .3rem;
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: var(--font-color);
}

.space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}